.address {
    display: block;
    font-style: normal;
    width: 231px;
    margin-right: 70px;
    margin-top: 20px;
}
.address__map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 9px;

    transition: color var(--trns-fast);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address__contact {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;

    transition: color var(--trns-fast);

   &:hover,
   &:focus {
        color: var(--accent-color);
    }
}

.tel {
    margin-bottom: 0;
}