.container {
    margin: 0 auto;
    padding: 0 15px;

    // mobile
    @media screen and (min-width: $mobile) {
        width: $mobile;
    }

    // tablet
    @media screen and (min-width: $tablet) {
        width: $tablet;
    }

    // desktop
    @media screen and (min-width: $desktop) {
        width: $desktop;
    }
}
