footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__container {
    display: flex;
    align-items: baseline;

    @media screen and (max-width: 767.98px) {
        display: block;
        text-align: center;
    }
    @media screen and (min-width: $tablet) {
        display: block;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: baseline;
    }

}

.footer__container-tablet {
    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: baseline;
    }
    @media screen and (min-width: $desktop) {
        
    }
}
.first__footer {
    @media screen and (min-width: $tablet) {
        text-align: center;
        margin-left: 61px;
    }
    @media screen and (min-width: $desktop) {
        text-align: left;
        margin-left: 0;
    }
}
.second__footer {
    @media screen and (max-width: 767.98px) {
        margin-top: 60px;
    }
    @media screen and (min-width: $tablet) {
        margin-left: auto;
        text-align: center;
        margin-right: 74px;
    }
    @media screen and (min-width: $desktop) {
        text-align: left;
    }
}
.third__footer {
    margin-left: auto;

    @media screen and (max-width: 767.98px) {
        text-align: center;
        margin-top: 60px;
    }
    @media screen and (min-width: $tablet) {
        text-align: center;
        margin-top: 60px;
    }
    @media screen and (min-width: $desktop) {
        text-align: left;
        margin-top: 0;
    }
}