body {
    font-family: 'Roboto', 'Open Sans';
    color: #212121;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
}
a, img {
    display: block;
}
a {
    text-decoration: none;
    color: #212121;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}